/*pruebas de introduccion a css*/
/*
body
{
    background-color:black;
}
#titulo-principal {
    color:indianred;
}
h5{
    color:blue;
}
.parrafo{
    color:blue;
    background-color:red;
}
*/

div{
    width: 150px;
    height: 70px;
    border: 2px solid black;
}

.overline {
    text-decoration-line:spelling-error;
}
.line_through{
    text-decoration-line:line-through;
}
#table{
    background-color:aqua;
}
#cuerpo{ 
    background-color:yellowgreen
}
#cabecera{
    background-color:navy;
    
              
}
#pie{
    background-color:rosybrown;
}

#serif{
    font-family:'Times New Roman', Times, serif;
}
#sans-serif{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#monospace{
    font-family:Courier New, Courier, monospace;
}
#cursive{
    font-family: "lucida handwriting",cursive;
}
#fantasy{
    font-family:copperplate,fantasy;
}